<!doctype html>
<html>
<head>
    <title>Skills-Web</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <form action="/application">
<!-- This page needs a form that can capture data about the user's
first name, last name, job title, and salary requirements. -->
        First name: 
        <input type="text" name="firstname"><br>
        Last name:
        <input type="text" name="lastname"><br>
        Salary:
        <input type="text" name="salary"><br>
        Job title:
        <input type="text" name="jobtitle"><br>
        <input type="submit">
    </form>
</body>
</html>